*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


.container {
  max-width: 1280px;
  margin: auto;
}


/* nav section  */
/* Custom css */
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  gap: 30px;
}

.nav-items{
  display: flex;
  justify-content: space-between;
  /* gap: 100px; */

}
.nav-items ul {
  display: flex;
  list-style: none;
  gap: 50px;
  padding: 5px;
  font-weight: 400;

}
.nav-items li a {
  text-decoration: none;
  color: #707070;
  font-weight: 600;
  font-size: 30px;
}
.nav-button{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;

}

.login-btn {
 /* #8B1E3F */
border: 6px solid rgb(139, 30, 63);
border-radius: 30px;

background: rgb(228, 228, 228);

  padding: 20px 50px;
  border-color:#8B1E3F;
  color:#8B1E3F;
  font-weight:bold;
  font-size: 30px;

  

}
.Sign-up-btn{
border-radius: 30px;

/* #8B1E3F */
background: rgb(139, 30, 63);

  padding: 24px 50px;
  border: none;
  color:#EEEEEE;
  font-weight:bold;
  font-size: 30px;
}